body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

.container {
    text-align: center;
}

.stopwatch {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.display {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000000;
}

.controls button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #593d97;
    color: #fff;
}

.controls button:hover {
    background-color: #593d97;
}

.controls button:disabled {
    background-color: #593d97;
    cursor: not-allowed;
}

.laps {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.laps li {
    border-bottom: 1px solid #666;
    padding: 5px 0;
    color: #000000;
}
